@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Title of the page -->
<div class="container">
    <div class="row m-2">
        <div cass="col">
            <h1 class="display-4">Contoso Crafts</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>

<!-- Picture of my favorite animal -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <h3>This is a picture of my favorite animal:</h3>
            <img src="~/images/cheeta.jpg" class="img-fluid" alt="It's a Cheeta" />
        </div>
        <div class="col-6">
            
        </div>
    </div>
</div>